.container {
    text-align: center;
    margin: 20px;
  }
  
  input[type="text"] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 200px;
  }
  h1{
    text-align: center;
  }
  button {
    padding: 10px 20px;
    background-color: #3e5cbd;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 20px;
    background: rgb(66, 64, 64);
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 28px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  li.completed {
    background: rgb(121, 152, 75);
  }
  
